# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Build
dist/
build/
*.egg-info/

# DB
postgres_data/

# IDE
.vscode/
.idea/

# Dokumentacija i planovi (ne commitati)
izvjesce_*.md
plan_razvoja.md
objasnjenje_api_sustava.md
