# Environment: dev, production
ENV=dev

# Database Connection
# postgresql+asyncpg://<user>:<pass>@<host>:<port>/<db_name>
DATABASE_URL=postgresql+asyncpg://esport_user:esport_pass@localhost:5432/esport_db

# Security
JWT_SECRET=change-me-in-production
JWT_ISSUER=sit-unizd-esport
